@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }
  .navigation-list {
    display: flex;
  }
  .container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .adress-list {
    display: inline;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .adress-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .adress-list-link {
    font-size: 16px;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* HERO */

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background-tab-x2.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background-x2.jpg);
    }
  }
}
/* ADVANTAGES */

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
  .advantages-list {
    flex-direction: unset;
    gap: 24px;
  }
  .advantages-svg-background {
    display: flex;
  }
  .advantages-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
  .advantages-list-title {
    justify-content: unset;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: unset;
  }
  .advantages-list-text {
    font-weight: 400;
  }
}

/* ACTIVITY */

@media screen and (min-width: 1158px) {
  .activity {
    display: flex;
  }
}

/* TEAM */

@media screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    flex-wrap: nowrap;
    justify-content: unset;
  }
}

/* CUSTOMERS */

@media screen and (min-width: 768px) {
  .customers-list-item {
    width: 168px;
  }
  .customers-list {
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers-list {
    flex-wrap: nowrap;
    row-gap: 0;
  }
}

/* FOOTER */

@media screen and (min-width: 428px) {
  .footer-input {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    padding-left: 108px;
    justify-content: left;
    text-align: left;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-media {
    margin-bottom: 0;
  }
  .footer-form {
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-logo-text {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    flex-wrap: nowrap;
    justify-content: unset;
    justify-content: unset;
    text-align: unset;
  }
  .footer-logo-text {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-media {
    margin-right: 80px;
  }
  .footer-form {
    flex-wrap: nowrap;
  }
  .footer-button {
    justify-content: unset;
    margin-left: unset;
    margin-right: unset;
  }
}
